.location   {


            text-align: center;

}



.current {

        text-align: center;

}




.city {


                        margin-bottom: 15px;
                        font-size: 55px;
                        color: aliceblue;

}


.date {

                margin-bottom: 5px;
                font-size: 35px;
                color: aliceblue;

}


.temp , .weather , .hi-low {


                font-size: 20px;
                color: aliceblue;

}


body {



                background-image: url('haloBackGround.jpeg');

}






 .hi-low {

                outline-style: double;
                outline-width: 3px;

                margin-left: 800px;
                margin-right: 800px;


}

